<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>uniRobot - Schdule info</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='lib/easyui/themes/icon.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/easyui/themes/bootstrap/easyui.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/auto.css') }}">

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <style type="text/css">
            .lines-no .datagrid-body td{
                border-right:1px dotted transparent;
                border-bottom:1px dotted transparent;
            }
        </style>
    </head>
    <body class="easyui-layout" style="padding:10">

        <div data-options="region:'center'" style="padding: 5px 5px 5px 5px">
            <table id="schedulejob_list" class="easyui-datagrid" style="width:100%;height:auto;"
                    data-options="fit:true, singleSelect:true,
                        fitColumns:true,
                        url:'/api/v1/task_list?method=get_schedulejoblist&project=all',
                        method:'get',
                        toolbar: toolbar"
                    >
                <thead>
                    <tr>
                        <th data-options="field:'user',align:'center' , halign: 'center'">用户</th>
                        <th data-options="field:'project',align:'center' , halign: 'center'">项目</th>
                        <th data-options="field:'task_name',align:'center' , halign: 'center'">任务名称</th>
                        <th data-options="field:'status',align:'center' , halign: 'center',formatter:show_img">状态</th>
                        <th data-options="field:'next_time',align:'center' , halign: 'center'">下次调度</th>
                        <th data-options="field:'schedule_type',align:'center' , halign: 'center'">调度类型</th>
                        <th data-options="field:'year',align:'center' , halign: 'center'">年</th>
                        <th data-options="field:'mon',align:'center' , halign: 'center'">月</th>
                        <th data-options="field:'day',align:'center' , halign: 'center'">日</th>
                        <th data-options="field:'hour',align:'center' , halign: 'center'">时</th>
                        <th data-options="field:'min',align:'center' , halign: 'center'">分</th>
                        <th data-options="field:'sec',align:'center' , halign: 'center'">秒</th>
                        <th data-options="field:'week',align:'center' , halign: 'center'">第几周</th>
                        <th data-options="field:'day_of_week',align:'center' , halign: 'center'">每周几</th>
                        <th data-options="field:'start_date',align:'center' , halign: 'center'">开始时间</th>
                        <th data-options="field:'end_date',align:'center' , halign: 'center'">结束时间</th>
                        <th data-options="field:'sponsor',align:'center' , halign: 'center'">发起方</th>
                    </tr>
                </thead>
            </table>
        </div>



        <script src="{{ url_for('static', filename='lib/easyui/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/easyui/jquery.easyui.min.js') }}"></script>
        <!-- 自定义js库 -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/auto.js') }}"></script>
        <SCRIPT type="text/javascript">
            $(document).ready(function(){
               $('#task_scheduler').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass('lines-no');
            });
            var toolbar = [
                {
                    text:'刷新',
                    iconCls:'icon-refresh',
                    handler:function(){
                        $("#schedulejob_list").datagrid('reload');
                    }
			    }, '-',
			    {
			        text:'冻结任务',
                    iconCls:'icon-run',
                    handler:function(){
                        var row = $('#task_scheduler').datagrid('getSelected');
                        if(row){
                            var data ={"method": "start", "name": "{0}".lym_format(row.name), "cron": "{0}".lym_format(row.cron) };
                            do_ajax('post',
                                '/api/v1/task_list/',
                                data,
                                do_msg);

                            $("#task_scheduler").datagrid('reload');
                        }
                        else{
                            show_msg("Alert", "Please select one record！");
                        }
                    }
			    }, '-',
			    {
			        text:'修改调度周期',
                    iconCls:'icon-stop',
                    handler:function(){
                        $.messager.confirm('Alert', 'Wont generate report，still stop ?', function(r){
                            if (r){
                                var row = $('#task_scheduler').datagrid('getSelected');
                                if(row){
                                    var data ={"method": "stop", "name": "{0}".lym_format(row.name) };
                                    do_ajax('post',
                                        '/api/v1/task_list/',
                                        data,
                                        do_msg);
                                    $("#task_scheduler").datagrid('reload');
                                }
                                else{
                                    show_msg("Alert", "Please select one record!");
                                }
                            }
                        });

                    }
			    }, '-',
			    {
			        text:'没有编辑',
                    iconCls:'icon-edit',
                    handler:function(){
                        var row = $('#task_scheduler').datagrid('getSelected');
                        if(row){
                            open_win('cron_win');
                        }
                        else{
                            show_msg("Alert", "Please select one record！");
                        }
                    }
			    }
			 ];

        </SCRIPT>
    </body>
</html>
