<!DOCTYPE html>
<html>

<head>
  <title>State Chart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/easyui/themes/bootstrap/easyui.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/easyui/themes/icon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auto.css') }}">

  <style type="text/css">
    .lines-no .datagrid-body td {
      border-right: 1px dotted transparent;
      border-bottom: 1px dotted transparent;
    }
  </style>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/DataInspector.css') }}">
  <script src="{{ url_for('static', filename='lib/gojs/DataInspector.js') }}"></script>

  <script src="{{ url_for('static', filename='lib/gojs/migo.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/easyui/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/easyui/jquery.easyui.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/auto.js') }}"></script>
  <script id="code">
    function init() {
      //if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this
      var $ = go.GraphObject.make; // for conciseness in defining templates

      // 节点外观，圆角长方形
      var roundedRectangleParams = {
        parameter1: 2, // set the rounded corner
        spot1: go.Spot.TopLeft,
        spot2: go.Spot.BottomRight // make content go all the way to inside edges of rounded corners
      };

      myDiagram =
        $(go.Diagram, "myDiagramDiv", // must name or refer to the DIV HTML element
          {
            "animationManager.initialAnimationStyle": go.AnimationManager.None, //初识动画
            "InitialAnimationStarting": function (e) {
              var animation = e.subject.defaultAnimation;
              animation.easing = go.Animation.EaseOutExpo;
              animation.duration = 900;
              animation.add(e.diagram, 'scale', 0.1, 1);
              animation.add(e.diagram, 'opacity', 0, 1);
            },

            // 滚轮缩放
            "toolManager.mouseWheelBehavior": go.ToolManager.WheelZoom,
            // 双击新建节点
            "clickCreatingTool.archetypeNodeData": {
              text: "new node"
            },
            // 重复于撤销 undo & redo
            "undoManager.isEnabled": true,
            // 取得节点位置
            positionComputation: function (diagram, pt) {
              return new go.Point(Math.floor(pt.x), Math.floor(pt.y));
            }
          });

      // when the document is modified, add a "*" to the title and enable the "Save" button
      myDiagram.addDiagramListener("Modified", function (e) {
        var button = document.getElementById("SaveButton");
        if (button) button.disabled = !myDiagram.isModified;
        var idx = document.title.indexOf("*");
        if (myDiagram.isModified) {
          if (idx < 0) document.title += "*";
        } else {
          if (idx >= 0) document.title = document.title.substr(0, idx);
        }
      });

      // define the Node template
      myDiagram.nodeTemplate =
        $(go.Node, "Auto", {
            locationSpot: go.Spot.Top,
            isShadowed: true,
            shadowBlur: 1,
            shadowOffset: new go.Point(0, 1),
            shadowColor: "rgba(0, 0, 0, .14)"
          },
          new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
          // define the node's outer shape, which will surround the TextBlock
          $(go.Shape, "RoundedRectangle", roundedRectangleParams, {
            name: "SHAPE",
            fill: "#ccecf1",
            strokeWidth: 0,
            stroke: null,
            portId: "", // this Shape is the Node's port, not the whole Node
            fromLinkable: true,
            fromLinkableSelfNode: true,
            fromLinkableDuplicates: true,
            toLinkable: true,
            toLinkableSelfNode: true,
            toLinkableDuplicates: true,
            cursor: "pointer"
          }),
          $(go.TextBlock, {
              font: "bold small-caps 11pt helvetica, bold arial, sans-serif",
              margin: 7,
              stroke: "rgba(0, 0, 0, .87)",
              editable: true // editing the text automatically updates the model data
            },
            new go.Binding("text").makeTwoWay())
        );


      // unlike the normal selection Adornment, this one includes a Button
      myDiagram.nodeTemplate.selectionAdornmentTemplate =
        $(go.Adornment, "Spot",
          $(go.Panel, "Auto",
            $(go.Shape, "RoundedRectangle", roundedRectangleParams, {
              fill: null,
              stroke: "#7986cb",
              strokeWidth: 3
            }),
            $(go.Placeholder) // a Placeholder sizes itself to the selected Node
          ),
          // the button to create a "next" node, at the top-right corner
          $("Button", {
              alignment: go.Spot.TopRight,
              click: addNodeAndLink // this function is defined below
            },
            $(go.Shape, "PlusLine", {
              width: 6,
              height: 6
            })
          ) // end button
        ); // end Adornment

      myDiagram.nodeTemplateMap.add("Start",
        $(go.Node, "Spot", {
            desiredSize: new go.Size(70, 70)
          },
          new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
          $(go.Shape, "Circle", {
            fill: "#52ce60",
            /* green */
            stroke: null,
            portId: "",
            fromLinkable: true,
            fromLinkableSelfNode: true,
            fromLinkableDuplicates: true,
            toLinkable: true,
            toLinkableSelfNode: true,
            toLinkableDuplicates: true,
            cursor: "pointer"
          }),
          $(go.TextBlock, "Start", {
            font: "bold 14pt helvetica, bold arial, sans-serif",
            stroke: "whitesmoke"
          })
        )
      );

      // myDiagram.nodeTemplateMap.add("End",
      //   $(go.Node, "Spot", {
      //       desiredSize: new go.Size(70, 70)
      //     },
      //     new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
      //     $(go.Shape, "Circle", {
      //       fill: "maroon",
      //       stroke: null,
      //       portId: "",
      //       fromLinkable: true,
      //       fromLinkableSelfNode: true,
      //       fromLinkableDuplicates: true,
      //       toLinkable: true,
      //       toLinkableSelfNode: true,
      //       toLinkableDuplicates: true,
      //       cursor: "pointer"
      //     }),
      //     $(go.Shape, "Circle", {
      //       fill: null,
      //       desiredSize: new go.Size(62, 62),
      //       strokeWidth: 2,
      //       stroke: "whitesmoke"
      //     }),
      //     $(go.TextBlock, "End", {
      //       font: "bold 14pt helvetica, bold arial, sans-serif",
      //       stroke: "whitesmoke"
      //     })
      //   )
      // );

      // clicking the button inserts a new node to the right of the selected node,
      // and adds a link to that new node
      function addNodeAndLink(e, obj) {
        var adornment = obj.part;
        var diagram = e.diagram;
        diagram.startTransaction("Add State");

        // get the node data for which the user clicked the button
        var fromNode = adornment.adornedPart;
        var fromData = fromNode.data;
        // create a new "State" data object, positioned off to the right of the adorned Node
        var toData = {
          text: "new"
        };
        var p = fromNode.location.copy();
        p.x += 160;
        toData.loc = go.Point.stringify(p); // the "loc" property is a string, not a Point object
        // add the new node data to the model
        var model = diagram.model;
        model.addNodeData(toData);

        // create a link data from the old node data to the new node data
        var linkdata = {
          from: model.getKeyForNodeData(fromData), // or just: fromData.id
          to: model.getKeyForNodeData(toData),
          text: "transition",
          weight: "1.0"
        };
        // and add the link data to the model
        model.addLinkData(linkdata);

        // select the new Node
        var newnode = diagram.findNodeForData(toData);
        diagram.select(newnode);

        diagram.commitTransaction("Add State");

        // if the new node is off-screen, scroll the diagram to show the new node
        diagram.scrollToRect(newnode.actualBounds);
      }

      // replace the default Link template in the linkTemplateMap
      myDiagram.linkTemplate =
        $(go.Link, // the whole link panel
          {
            curve: go.Link.Bezier,
            adjusting: go.Link.Stretch,
            reshapable: true,
            relinkableFrom: true,
            relinkableTo: true,
            toShortLength: 3
          },
          new go.Binding("points").makeTwoWay(),
          new go.Binding("curviness"),
          $(go.Shape, // the link shape
            {
              strokeWidth: 1.0
            },
            new go.Binding('stroke', 'mainpath', function (mainpath) {
              return mainpath ? "#52ce60" /* green */ : 'black';
            }),
            new go.Binding('strokeWidth', 'weight', function (weight) {
              return weight ? weight : 1.0;
            })
          ),
          $(go.Shape, // the arrowhead
            {
              toArrow: "standard",
              stroke: null
            },
            new go.Binding('fill', 'mainpath', function (mainpath) {
              return mainpath ? "#52ce60" /* green */ : 'black';
            })),
          $(go.Panel, "Auto",
            $(go.Shape, // the label background, which becomes transparent around the edges
              {
                fill: $(go.Brush, "Radial", {
                  0: "rgb(245, 245, 245)",
                  0.7: "rgb(245, 245, 245)",
                  1: "rgba(245, 245, 245, 0)"
                }),
                stroke: null
              }),
            $(go.TextBlock, "transition", // the label text
              {
                textAlign: "center",
                font: "9pt helvetica, arial, sans-serif",
                margin: 4,
                editable: true // enable in-place editing
              },
              // editing the text automatically updates the model data
              new go.Binding("text").makeTwoWay())
          )
        );

      // read in the JSON data from the "mySavedModel" element
      load();
      myDiagram.select(myDiagram.nodes.first());

      // Declare which properties to show and how.
      // By default, all properties on the model data objects are shown unless the inspector option "includesOwnProperties" is set to false.

      // Show the primary selection's data, or blanks if no Part is selected:
      var inspector = new Inspector('elementInspector', myDiagram, {
        // allows for multiple nodes to be inspected at once
        multipleSelection: true,
        // max number of node properties will be shown when multiple selection is true
        showSize: 4,
        // when multipleSelection is true, when showAllProperties is true it takes the union of properties
        // otherwise it takes the intersection of properties
        showAllProperties: true,
        // uncomment this line to only inspect the named properties below instead of all properties on each object:
        // includesOwnProperties: false,
        properties: {
          "id": {
            readOnly: true,
            show: Inspector.showIfNode
          },
          "key": {
            readOnly: true,
            show: Inspector.showIfLink
          },
          "text": {},
          "description": {},
          "outputvariable": {},
          "action": {},
          "parameters": {},
          // // key would be automatically added for nodes, but we want to declare it read-only also:
          // "key": {
          //   readOnly: true,
          //   show: Inspector.showIfPresent
          // },
          // // color would be automatically added for nodes, but we want to declare it a color also:
          // "color": {
          //   show: Inspector.showIfPresent,
          //   type: 'color'
          // },
          // // Comments and LinkComments are not in any node or link data (yet), so we add them here:
          // "Comments": {
          //   show: Inspector.showIfNode
          // },
          // "LinkComments": {
          //   show: Inspector.showIfLink
          // },

          "disabled": {
            show: Inspector.showIfNode,
            type: 'checkbox'
          },
          "properties": {
            show: Inspector.showIfNode
          },

          "weight": {
            show: Inspector.showIfLink,
            type: "select",
            choices: function (node, propName) {
              if (Array.isArray(node.data.choices)) return node.data.choices;
              return ["1.0", "2.0", "3.0"];
            }
          },
          "mainpath": {
            show: Inspector.showIfLink,
            type: 'checkbox'
          },
          "isGroup": {
            readOnly: true,
            show: Inspector.showIfPresent
          },
          "category": {
            readOnly: true,
            show: Inspector.showIfPresent
          },

          "loc": {
            show: false
          },
          "points": {
            show: false
          },


          // // an example of specifying the <input> type
          // "password": {
          //   show: Inspector.showIfPresent,
          //   type: 'password'
          // }
        }
      });

      // Always show the model.modelData:
      var inspector2 = new Inspector('modelInspector', myDiagram, {
        inspectSelection: false,
        properties: {
          "nodes": {
            readOnly: true
          },
          "links": {
            readOnly: true
          },
          "actions": {
            readOnly: true
          },
          "variables": {
            readOnly: true
          },
          "init_actions": {},
          "version": {}
        }
      });
      inspector2.inspectObject(myDiagram.model.modelData);

    } // ** END OF init()

    // Show the diagram's model in JSON format
    function save() {
      modjson = myDiagram.model.toJson();
      document.getElementById("mySavedModel").value = modjson;

      var key = "{{ key }}";
      var data = {
        "method": "save",
        "key": key,
        "data": myDiagram.model.toJson(),
      };
      do_ajax("post", "/api/v1/test_design/", data, after_save);

    }

    function load() {
      myDiagram.model = go.Model.fromJson(document.getElementById("mySavedModel").value);
    }

    function after_save(data) {
      var success = "success"
      if (data["status"] == success) {
        //document.getElementById("SaveButton").disabled = true; //TODO: How to make it enable?
      }
      do_msg(data)
    }
  </script>
</head>

<body class="easyui-layout" onload="init()">
  <div data-options="region:'center'">
    <div class="easyui-layout" data-options="fit:true">
      <div data-options="region:'north',split:true" style="height:60%">
        <div id="myDiagramDiv" style="border: solid 1px black; width: 100%; height: 100%; background: whitesmoke">
        </div>
      </div>
      <div data-options="region:'center'">
        <div id="tt" data-options="tools:'#tab-tools', justified:true" style="width:100%;height:100%">
          <div title="模型数据" style="padding:5px">
            <textarea id="mySavedModel" style="width:100%;height:100%">{{value}}</textarea>
          </div>
          <div title="变量配置" style="padding:2px">
            <table id="vb"></table>
          </div>
          <div title="用例生成" style="padding:10px">
            This is the help content.
          </div>
        </div>
        <div id="mm">
          <div>生成用例模版</div>
          <div>生成手工用例</div>
          <div data-options="iconCls:'icon-search'">Search</div>
          <div>生成自动化用例</div>
        </div>
        <div id="tab-tools">
          <a href="#" id="SaveButton" class="easyui-linkbutton" data-options="disabled:false,iconCls:'icon-save'"
            onclick="save()" style="margin-left: 5px;">保存</a>
          <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-refresh'" onclick="load()">刷新模型</a>
        </div>

        <script>
          $(function () {
            var p = $('#tt').tabs().tabs('tabs')[2];
            var mb = p.panel('options').tab.find('a.tabs-inner');
            mb.menubutton({
              menu: '#mm',
              iconCls: 'icon-configitem'
            }).click(function () {
              $('#tt').tabs('select', 2);
            });
          });


          var obj = {
            'total': 100,
            'rows': [{
              name: 'url',
              description: 'hasdfsafsad',
              value: "www.baiu.com",
              rule: "dfsf(x)",
              used: "s,b,c"
            }, {
              name: 'url11',
              description: 'hasdfsafsad',
              value: "www.com",
              rule: "dfsf(x)",
              used: "s,b,c"
            }]
          };
          $('#vb').datagrid({
            singleSelect: true,
            //fitColumns: true,
            rownumbers: true,
            toolbar: [{
                text: '刷新',
                iconCls: 'icon-refresh',
                handler: function () {
                  $("#vb").datagrid('reload');
                }
              }, '-',
              {
                text: '配置',
                iconCls: 'icon-edit',
                handler: function () {
                  var row = $('#vb').datagrid('getSelected');
                  if (row) {
                    $("#edit_user_ff input#fullname").textbox("setValue", row.fullname);
                    $("#edit_user_ff input#username").textbox("setValue", row.name);
                    $("#edit_user_ff input#email").textbox("setValue", row.email);
                    open_win('edit_user');
                  } else {
                    show_msg("Alert", "Please select one record！");
                  }
                }
              }
            ],
            columns: [
              [{
                  field: 'name',
                  title: '变量名',
                  width: 100
                },
                {
                  field: 'description',
                  title: '描述',
                  width: 200
                },
                {
                  field: 'value',
                  title: '取值',
                  width: 200
                },
                {
                  field: 'rule',
                  title: '规则',
                  width: 200
                },
                {
                  field: 'used',
                  title: '使用者',
                  width: 200
                },
              ]
            ]
          });

          $('#vb').datagrid('loadData', obj);
        </script>
      </div> //End Center
    </div>
  </div>

  <div data-options="region:'east',split:true,hideCollapsedContent:false" title="属性配置"
    style="width:25%;max-width:400px;padding:5px 10px;">
    <div style="margin-bottom:5px">
      <span style="display: inline-block; vertical-align: top;">
        Selected Part:<br />
        <div id="elementInspector" class="inspector" style="width: 100%;"> </div><br />
        Model.modelData:<br />
        <div id="modelInspector" class="inspector" style="width: 100%;"> </div><br />
      </span>
    </div>
  </div>
</body>

</html>