<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/easyui/themes/bootstrap/easyui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/easyui/themes/icon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auto.css') }}">
    <title>测试环境</title>

    <script src="{{ url_for('static', filename='lib/easyui/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easyui/jquery.easyui.min.js') }}"></script>
    <!-- 自定义js库 -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/auto.js') }}"></script>
</head>
<body>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',split:true" style="height:400px">  <!-- 版本、机器、组件信息 -->
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'west',split:false" style="width:40%">  <!-- 版本 + 机器列表 ;padding:10px -->
                <div class="easyui-layout" data-options="fit:true">
                    <div data-options="region:'north',split:false" style="height:90px">
                        <div class="easyui-panel" style="padding:5px ">
                            <input id="projectname" class="easyui-textbox" data-options="label:'项目名称：'" style="width:300px">
                            <a href="#" class="easyui-linkbutton" style="float:right;margin-right:10px;"
        onclick="javasc:alert('easyui')">自动获取版本号</a>
                        </div>
                        <div class="easyui-panel" style="padding:5px ">
                            <input id="version" class="easyui-textbox" data-options="label:'版本号：'" style="width:300px">
                            <a href="#" class="easyui-linkbutton" style="float:right;margin-right:10px;"
        onclick="javasc:alert('easyui')">保存配置修改</a>
                        </div>
                    </div>
                    <div data-options="region:'center',split:true">
                        <table id="machine_list" class="easyui-datagrid" style="width:100%;height:auto;"
                               data-options="singleSelect:true,
                               fitColumns:true,
                               url:'/api/v1/report?key={{dir}}&request=excuteinfo&method=day',
                               method:'get' "
                        >
                            <thead>
                            <tr>
                                <th data-options="field:'category',align:'center' , halign: 'center'">机器IP</th>
                                <th data-options="field:'passed',align:'center' , halign: 'center'">操作系统</th>
                                <th data-options="field:'failed',align:'center' , halign: 'center'">配置</th>
                                <th data-options="field:'unknown',align:'center' , halign: 'center'">CPUidle</th>
                                <th data-options="field:'percent',align:'center' , halign: 'center'">内存占用</th>
                                <th data-options="field:'time',align:'center' , halign: 'center'">更新时间</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
            <div data-options="region:'center'">  <!-- 组件信息 -->
                <div id="submodule" style="margin: 0 auto">
                    <h3>组件详细信息</h3>
                </div>
                <table id="mudule_list" class="easyui-datagrid" style="width:100%;height:auto;"
                               data-options="singleSelect:true,
                               fitColumns:true,
                               url:'/api/v1/report?key={{dir}}&request=excuteinfo&method=day',
                               method:'get' "
                        >
                            <thead>
                            <tr>
                                <th data-options="field:'category',align:'center' , halign: 'center'">组件名称</th>
                                <th data-options="field:'passed',align:'center' , halign: 'center'">机器列表</th>
                                <th data-options="field:'failed',align:'center' , halign: 'center'">组件状态</th>
                                <th data-options="field:'unknown',align:'center' , halign: 'center'">更新时间</th>
                                <th data-options="field:'percent',align:'center' , halign: 'center'">内存占用</th>
                                <th data-options="field:'time',align:'center' , halign: 'center'">更新时间</th>
                            </tr>
                            </thead>
                        </table>
            </div>
        </div>

    </div>
        <div data-options="region:'center',split:true">            <!-- 自动化配置 、 生成、保存 -->
            <input class="easyui-textbox" style="width:800px; height:220px;multiline:true;editable:true">
            <a href="#" class="easyui-linkbutton" style="float:right;margin-right:10px;margin-top:10px;" onclick="javasc:alert('easyui')">保存配置修改</a>
            <a href="#" class="easyui-linkbutton" style="float:right;margin-right:10px;margin-top:10px;" onclick="javasc:alert('easyui')">重新生成配置</a>
        </div>
    </div>
</div>
</body>
</html>