<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/easyui/themes/bootstrap/easyui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/easyui/themes/icon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auto.css') }}">
    <title>测试环境</title>

    <script src="{{ url_for('static', filename='lib/easyui/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easyui/jquery.easyui.min.js') }}"></script>
    <!-- 自定义js库 -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/auto.js') }}"></script>
</head>
<body>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',split:true" style="height:400px">  <!-- 版本、机器、组件信息 -->
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'west',split:false" style="width:40%">  <!-- 版本 + 机器列表 ;padding:10px -->
                <div class="easyui-layout" data-options="fit:true">
                    <div data-options="region:'north',split:false" style="height:28%">  <!-- 版本 信息 -->
                        <div class="easyui-panel" style="width:100%;height:100%;padding:10px 10px;">
                            <div style="margin-bottom:10px">
                                <h3>被测系统名称：{{test_project}}</h3>
                            </div>
                            <div style="margin-bottom:5px">
                                 <h3>被测系统版本号：{{test_projectversion}}</h3>
                            </div>
                        </div>
                    </div>
                    <div data-options="region:'center',split:true">
                        <table id="machine_list" class="easyui-datagrid" style="width:100%;height:auto;"
                               data-options="singleSelect:true,
                               fitColumns:true,
                               url:'/api/v1/report?key={{dir}}&request=excuteinfo&method=day',
                               method:'get' "
                        >
                            <thead>
                            <tr>
                                <th data-options="field:'category',align:'center' , halign: 'center'">机器IP</th>
                                <th data-options="field:'passed',align:'center' , halign: 'center'">操作系统</th>
                                <th data-options="field:'failed',align:'center' , halign: 'center'">配置</th>
                                <th data-options="field:'unknown',align:'center' , halign: 'center'">CPUidle</th>
                                <th data-options="field:'percent',align:'center' , halign: 'center'">内存占用</th>
                                <th data-options="field:'time',align:'center' , halign: 'center'">更新时间</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
            <div data-options="region:'center'">  <!-- 组件信息 -->
                <div id="submodule" style="margin: 0 auto">
                    <h3>组件详细信息</h3>
                </div>
                <table id="mudule_list" class="easyui-datagrid" style="width:100%;height:auto;"
                               data-options="singleSelect:true,
                               fitColumns:true,
                               url:'/api/v1/report?key={{dir}}&request=excuteinfo&method=day',
                               method:'get' "
                        >
                            <thead>
                            <tr>
                                <th data-options="field:'category',align:'center' , halign: 'center'">组件名称</th>
                                <th data-options="field:'passed',align:'center' , halign: 'center'">机器列表</th>
                                <th data-options="field:'failed',align:'center' , halign: 'center'">组件状态</th>
                                <th data-options="field:'unknown',align:'center' , halign: 'center'">更新时间</th>
                                <th data-options="field:'percent',align:'center' , halign: 'center'">内存占用</th>
                                <th data-options="field:'time',align:'center' , halign: 'center'">更新时间</th>
                            </tr>
                            </thead>
                        </table>
            </div>
        </div>

    </div>
        <div data-options="region:'center',split:true">            <!-- 自动化配置 、 生成、保存 -->
            <div data-options="region:'center'" style="padding: 5px 5px 5px 5px">
            <table id="user_list" class="easyui-datagrid" style="width:100%;height:auto;"
                    data-options="singleSelect:true,
                        fitColumns:true,
                        url:'/api/v1/user/',
                        method:'get',
                        toolbar: toolbar"
                    >
                <thead>
                    <tr>
                        <th data-options="field:'name',align:'center' , halign: 'center'">配置参数</th>
                        <th data-options="field:'fullname',align:'center' , halign: 'center'">参数值</th>
                        <th data-options="field:'email',align:'center' , halign: 'center'">说明</th>
                        <th data-options="field:'category',align:'center' , halign: 'center'">类型</th>
                    </tr>
                </thead>
            </table>
            <!-- create user -->
            <div id="create_user" class="easyui-window" title="Create User"
                 data-options="modal:true,closed:true,minimizable:false,maximizable:false,collapsible:false"
                 style="width:320px;height:270px;padding:10px;">
                <form id="create_user_ff" method="post">
                    <div style="margin-bottom:10px">
                        <input class="easyui-textbox" id="fullname" name="fullname" label="Nickname" labelPosition="left" style="width:100%" data-options="required:true">
                    </div>
                    <div style="margin-bottom:10px">
                        <input class="easyui-textbox" id="username" name="username" label="User Name" labelPosition="left" style="width:100%" data-options="required:true">
                    </div>
                    <div style="margin-bottom:10px">
                        <input class="easyui-textbox" id="email" name="email" label="Email" labelPosition="left" style="width:100%" data-options="required:true">
                    </div>
                    <div style="margin-bottom:20px">
                        <input class="easyui-textbox" id="password" name="password" label="Password" labelPosition="left" style="width:100%" data-options="required:true">
                    </div>
                </form>
                <div style="text-align:right;padding:5px 0">
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="close_win('create_user')" style="width:60px">Cancle</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="create_user('create_user', 'create_user_ff')" style="width:60px">Create</a>
                </div>
            </div>
            <!-- end -->
            <!-- edit user -->
            <div id="edit_user" class="easyui-window" title="Edit user"
                 data-options="modal:true,closed:true,minimizable:false,maximizable:false,collapsible:false"
                 style="width:320px;height:300px;padding:10px;">
                <form id="edit_user_ff" method="post">
                    <div style="margin-bottom:10px">
                        <input class="easyui-textbox" id="fullname" name="fullname" label="Nickname" labelPosition="left" style="width:100%" data-options="required:true">
                    </div>
                    <div style="margin-bottom:10px">
                        <input class="easyui-textbox" id="username" name="username" label="User Name" labelPosition="left" style="width:100%" data-options="required:true" readonly>
                    </div>
                    <div style="margin-bottom:10px">
                        <input class="easyui-textbox" id="email" name="email" label="Email" labelPosition="left" style="width:100%" data-options="required:true">
                    </div>
                    <div style="margin-bottom:10px">
                        <input class="easyui-textbox" id="password" name="password" label="Password" labelPosition="left" style="width:100%" data-options="required:true">
                    </div>
                    <div style="margin-bottom:15px">
                        <input class="easyui-textbox" id="new_password" name="new_password" label="New Password" labelPosition="left" style="width:100%" data-options="required:true">
                    </div>
                </form>
                <div style="text-align:right;padding:5px 0">
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="close_win('edit_user')" style="width:60px">Cancle</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="edit_user('edit_user', 'edit_user_ff')" style="width:60px">Save</a>
                </div>
            </div>
            <!-- end -->
            <!-- edit smtp -->
            <div id="edit_smtp" class="easyui-window" title="Config SMTP"
                 data-options="modal:true,closed:true,minimizable:false,maximizable:false,collapsible:false"
                 style="width:320px;height:290px;padding:10px;">
                <form id="edit_smtp_ff" method="post">
                    <div style="margin-bottom:10px">
                        <input type="checkbox" id="ssl" name="ssl" checked>
                        <span>SSL ON</span>
                    </div>
                    <div style="margin-bottom:10px">
                        <input class="easyui-textbox" id="server" name="server" label="Server" labelPosition="left" style="width:100%" data-options="required:true">
                    </div>
                    <div style="margin-bottom:10px">
                        <input class="easyui-textbox" id="port" name="port" label="Port" labelPosition="left" style="width:100%" data-options="required:true">
                    </div>
                    <div style="margin-bottom:10px">
                        <input class="easyui-textbox" id="username" name="username" label="User Name" labelPosition="left" style="width:100%" data-options="required:true">
                    </div>
                    <div style="margin-bottom:10px">
                        <input class="easyui-textbox" id="password" name="password" label="Password" labelPosition="left" style="width:100%" data-options="required:true">
                    </div>
                </form>
                <div style="text-align:right;padding:5px 0">
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="close_win('edit_smtp')" style="width:60px">Cancle</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="do_smtp('edit_smtp', 'edit_smtp_ff')" style="width:60px">Save</a>
                </div>
            </div>
            <!-- end -->
        </div>

        </div>
    </div>

    <SCRIPT type="text/javascript">
            $(document).ready(function(){
                //$('#edit_smtp_ff').form('load','/api/v1/settings?method=smtp');

            });
            var toolbar = [
                {
                    text:'刷新自动化配置',
                    iconCls:'icon-refresh',
                    handler:function(){
                        $("#user_list").datagrid('reload');
                    }
			    }, '-',
			    {
			        text:'重新生成自动化配置',
                    iconCls:'icon-expand',
                    handler:function(){
                        manage_user("create_user", "create_user_ff", "create");
                        /*var data ={"method": "run", "category": "project", "project": "{{ project }}" };
                        do_ajax('post',
                            '/api/v1/task/',
                            data,
                            do_msg);

                        $("#user_list").datagrid('reload');
                        */
                    }
			    }, '-',
			    {
			        text:'编辑自动化配置',
                    iconCls:'icon-edit',
                    handler:function(){
                        var row = $('#user_list').datagrid('getSelected');
                        if(row){
                            $("#edit_user_ff input#fullname").textbox("setValue", row.fullname);
                            $("#edit_user_ff input#username").textbox("setValue", row.name);
                            $("#edit_user_ff input#email").textbox("setValue", row.email);
                            open_win('edit_user');
                        }
                        else{
                            show_msg("Alert", "Please select one record！");
                        }
                    }
			    }
			 ];
    </SCRIPT>
</div>
</body>
</html>